/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  

  /* Container Styling */
  .App {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
  }
  
  /* Heading Styling */
  h4 {
    color: #f06;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    animation: slideDown 1s ease-in-out;
  }
  
  h6 {
    color: #ff4081;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* PDF Button Styling */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background: #ff4081;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
  }
  
  .btn:hover {
    background: #e91e63;
    transform: scale(1.1);
  }
  
  /* Output Div Styling */
  .output-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .inner-div {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    animation: fadeInUp 1s ease-in-out;

  }
  
  .inner-div:hover {
    transform: translateY(-10px);
  }
  
  /* PDF Viewer Styling */
  .PdfComp {
    margin-top: 20px;
    animation: fadeIn 1s ease-in-out;
  }
  
  /* Keyframes for Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  